.store-nav {
  color: #fffef1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.store-title {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.store-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.store-link:hover {
  color: #6c757d;
}
.d-flex {
  margin-right: 50px;
}
